 @import url(https://fonts.googleapis.com/css?family=PT+Sans);
  @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/fontawesome.min.css);
/*********************************************************************/
/***** BEGIN DESIGN TOOLS THEME IMPORT & CUSTOMIZATION  **************/
/*********************************************************************/
/* Import statements need to be at the top of your CSS file */
/* For Main CSS file */
@import url(https://eacjason.github.io/ea-content/themes.css);
/* For Mobile app CSS file */
/*@import url(https://eacjason.github.io/ea-content/app.css);*/
/* Institution color customizations */
@import url(https://eacjason.github.io/ea-content/inst_theme_overrides.css);
/* Theme Colors */
:root {
  --dt-color-primary: #2D3B45;
  --dt-color-primary-contrast: #FFFFFF;
  --dt-color-primary-dark-text: #4D3091;
  --dt-color-secondary: #FFCC00;
  --dt-color-secondary-contrast: #000000;
  --dt-color-secondary-dark-text: #4D3091;
  --dt-color-accent: #FFFDE8;
  --dt-color-accent-contrast: #000000;
  --dt-color-graybg: #E6E6E6;
  --dt-color-graybg-contrast: #000000;
}
/*********************************************************************/
/***** END DESIGN TOOLS HEME IMPORT & CUSTOMIZATION   ****************/
/*********************************************************************/

 

/**********************************************************************/
/**************       GENERAL STYLES                     **************/
/**********************************************************************/

  /* Allow icon class for headers and li */
  h2[class*=icon-]:before, h2[class^=icon-]:before, 
  h3[class*=icon-]:before, h3[class^=icon-]:before, 
  h4[class*=icon-]:before, h4[class^=icon-]:before, 
  h5[class*=icon-]:before, h5[class^=icon-]:before, 
  li[class*=icon-]:before, li[class^=icon-]:before { font-family: 'InstructureIcons-Solid'; display: inline-block; vertical-align: middle; text-rendering: optimizeLegibility; /*font-size: 16px;*/ text-transform: none !important; font-weight: normal !important; font-style: normal !important; margin-right: 5px; }
  li[class*=icon-]:before, li[class^=icon-]:before, 
  li[class*=fa-]:before, li[class^=fa-]:before { margin-left: -20px; margin-right: 6px; }
  h2[class*=fa-]:before, h2[class^=fa-]:before, 
  h3[class*=fa-]:before, h3[class^=fa-]:before, 
  h4[class*=fa-]:before, h4[class^=fa-]:before, 
  h5[class*=fa-]:before, h5[class^=fa-]:before, 
  li[class*=fa-]:before, li[class^=fa-]:before { margin-right: 5px; font-size: 1.2em; }
  li[class*=fa-]:before, li[class^=fa-]:before { font-size: 1.2em; }
  li[class*=icon-], li[class^=icon-], 
  li[class*=fa-], li[class^=fa-]{ list-style-type: none; }
  .pill li[class*=icon-]:before,
  .pill li[class^=icon-]:before { margin: 2px 5px 0 0; }
  a[class*=fa-]:before, a[class^=fa-]:before { padding-right: 5px; }
  .btn[class*=fa-]:before,
  .btn[class^=fa-]:before { line-height: 20px; }
  li[class*=fa-], li[class^=fa-] { display: list-item; line-height: 20px;}

  h2[class*=fa-], h2[class^=fa-], 
  h3[class*=fa-], h3[class^=fa-], 
  h4[class*=fa-], h4[class^=fa-], 
  h5[class*=fa-], h5[class^=fa-] {display: block; }

  h2[class*=fa-], h2[class^=fa-] {font-size: 1.8em; }
  h3[class*=fa-], h3[class^=fa-] {font-size: 1.5em; }
  h4[class*=fa-], h4[class^=fa-] {font-size: 17.5px; }
  h5[class*=fa-], h5[class^=fa-] {font-size: 14px; }
    
  /* Account for icon font problems */
  /* Canvas Icons */
  #kl_banner_right[class*=icon-]:before, 
  #kl_banner_right[class^=icon-]:before,
  h2[class*=icon-]:before, h2[class^=icon-]:before,
  h3[class*=icon-]:before, h3[class^=icon-]:before,
  h4[class*=icon-]:before, h4[class^=icon-]:before,
  h5[class*=icon-]:before, h5[class^=icon-]:before,
  span[class*=icon-]:before, span[class^=icon-]:before {font-family: 'InstructureIcons-Solid'; display: inline-block; vertical-align: middle; position: relative; top: -3px; text-rendering: optimizeLegibility; text-transform: none !important; font-weight: normal !important; font-style: normal !important; margin-right: 5px; }

  /* Font Awesome Icons */
  #kl_banner_right[class*=fa-]:before, 
  #kl_banner_right[class^=fa-]:before,
  h2[class*=fa-]:before, h2[class^=fa-]:before,
  h3[class*=fa-]:before, h3[class^=fa-]:before,
  h4[class*=fa-]:before, h4[class^=fa-]:before,
  h5[class*=fa-]:before, h5[class^=fa-]:before,
  span[class*=fa-]:before, span[class^=fa-]:before,
  li[class*=fa-]:before, li[class^=fa-]:before {margin-right: 5px; font-size: 1.2em; font-family: FontAwesome !important; }

  h3.fa, h2 .fa {line-height: 40px; }
  a[class*=fa-], a[class^=fa-],
  h2[class*=fa-], h2[class^=fa-], 
  h3[class*=fa-], h3[class^=fa-], 
  h4[class*=fa-], h4[class^=fa-], 
  h5[class*=fa-], h5[class^=fa-],
  li[class*=fa-], li[class^=fa-] {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; -webkit-font-smoothing: auto; -moz-osx-font-smoothing: auto; }

  a[class*=fa-]:before, a[class^=fa-]:before,
  h2[class*=fa-]:before, h2[class^=fa-]:before, 
  h3[class*=fa-]:before, h3[class^=fa-]:before, 
  h4[class*=fa-]:before, h4[class^=fa-]:before, 
  h5[class*=fa-]:before, h5[class^=fa-]:before,
  li[class*=fa-]:before, li[class^=fa-]:before {font-family: FontAwesome !important; }

  

  /* Misc */
  #kl_wrapper {position: relative;} /* allow positioning of sub elements */
  #kl_wrapper #kl_banner { margin-bottom: 20px;}
  #kl_wrapper .kl_image_full_width {width: 100%; height: auto; }
  .show-revisions {z-index: 1000;} /* Fix content showing over revisions panel */

/**********************************************************************/
/**************       BEGIN THEMES           **************/
/**********************************************************************/


  /*******************************************************************/
  /********* NAVIGATION BASICS             ***************************/
  #kl_wrapper #kl_navigation a[class*=icon-]:before,
  #kl_wrapper #kl_navigation a[class^=icon-]:before,
  #kl_wrapper #kl_navigation a[class*=fa-]:before,
  #kl_wrapper #kl_navigation a[class^=fa-]:before {width: 30px; display:inline-block;}
  #kl_wrapper #kl_navigation a[class*=fa-]:before,
  #kl_wrapper #kl_navigation a[class^=fa-]:before {padding-right: 5px; }
  #kl_wrapper #kl_navigation ul.font-icons a[class*=icon-]:before,
  #kl_wrapper #kl_navigation ul.font-icons a[class^=icon-]:before,
  #kl_wrapper #kl_navigation ul.font-icons a[class*=fa-]:before,
  #kl_wrapper #kl_navigation ul.font-icons a[class^=fa-]:before {margin-right: 15px; }

  


  /*********************************************************************/
  /**** FP & CP: FLAT SECTIONS THEME ***********************************/


  #kl_wrapper.kl_flat_sections.kl_show_title #kl_banner {margin-top: 25px; }
  #kl_wrapper.kl_fp_flat_sections #kl_banner_image,
  #kl_wrapper.kl_flat_sections #kl_banner_image {padding: 0;margin-bottom: 5px;}
  #kl_wrapper.kl_fp_flat_sections #kl_banner_image img,
  #kl_wrapper.kl_flat_sections #kl_banner_image img {border: none; padding: 0 0 3px 0; }
  #kl_wrapper.kl_fp_flat_sections #kl_progress_bar,
  #kl_wrapper.kl_flat_sections #kl_progress_bar {background: #fff; padding: 5px;margin: 25px 0 40px;}
  #kl_wrapper.kl_fp_flat_sections #kl_navigation,
  #kl_wrapper.kl_flat_sections #kl_navigation {width: 100%; background-color: #1e5799; margin: 0 0 20px; color: #fff; height: 48px; overflow: hidden; padding: 0;}
  #kl_wrapper.kl_fp_flat_sections #kl_navigation ul,
  #kl_wrapper.kl_flat_sections #kl_navigation ul {margin-bottom: 0;display: table; table-layout: fixed; width: 95%; margin-left: 10px;}
  #kl_wrapper.kl_flat_sections #kl_navigation li {display: table-cell; font-size: 1.2em; font-weight: normal; list-style-type: none; height: 100%; padding: 12px 22px 12px 5px;padding: 7px 5px; background: none;}
 
  #kl_wrapper.kl_flat_sections h3 {color: #000; border-top: 1px solid #E0E0E0; text-align: center; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 22px; letter-spacing: 3px; text-transform: uppercase; }
  #kl_wrapper.kl_flat_sections h3:before {color: #696969; display: block; margin: -25px auto 0; text-align: center; border: 1px solid #E0E0E0; width: 45px; border-radius: 50px; height: 50px; line-height: 50px; background-color: #fff; font-size: 25px; padding-left: 5px; }
  #kl_wrapper.kl_flat_sections h4 {color: #000; border-bottom: 1px solid #E0E0E0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 18px; letter-spacing: 3px; text-transform: uppercase; margin: 40px 0 20px; }
  #kl_wrapper.kl_flat_sections h5 {color: #000; border-bottom: 1px solid #E0E0E0; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 16px; letter-spacing: 3px; margin: 40px 0 20px; }
  #kl_wrapper.kl_flat_sections > div {padding: 25px 45px 45px; margin-bottom: 25px; font-size: 16px; overflow: hidden }
  #kl_wrapper.kl_flat_sections > div img {border: 1px solid #ccc; padding: 5px; background: #fff; }
  #kl_wrapper.kl_flat_sections .link_holder img {border:none; background: none; }
  #kl_wrapper.kl_flat_sections > div:nth-child(odd) {background: #f8f8f8; }
  #kl_wrapper.kl_flat_sections .well {min-height: 20px; padding: 19px; margin-bottom: 20px; background-color: #f5f5f5; border: 1px solid #e3e3e3; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05); box-shadow: inset 0 1px 1px rgba(0,0,0,.05); }
  #kl_wrapper.kl_flat_sections #kl_modules li[class*=icon-]:before,
  #kl_wrapper.kl_flat_sections #kl_modules li[class^=icon-]:before {margin: 0 10px 5px 0; font-size: 20px; float: left;}
  #kl_wrapper.kl_flat_sections #kl_modules li[class*=fa-]:before,
  #kl_wrapper.kl_flat_sections #kl_modules li[class^=fa-]:before {margin: 0 10px 5px 0; font-size: 20px; float: left;}
  #kl_wrapper.kl_flat_sections #kl_modules.kl_modules_tabbed li[class*=icon-]:before,
  #kl_wrapper.kl_flat_sections #kl_modules.kl_modules_tabbed li[class^=icon-]:before {margin: 9px 0 5px 10px; font-size: 20px; float: left;}
  #kl_wrapper.kl_flat_sections #kl_modules.kl_modules_tabbed li[class*=fa-]:before,
  #kl_wrapper.kl_flat_sections #kl_modules.kl_modules_tabbed li[class^=fa-]:before {margin: 7px 0 5px 10px; font-size: 20px; float: left;}
  .mceContentBody #kl_wrapper.kl_flat_sections #kl_modules.kl_modules_tabbed li[class*=icon-]:before,
  .mceContentBody #kl_wrapper.kl_flat_sections #kl_modules.kl_modules_tabbed li[class^=icon-]:before,
  .mceContentBody #kl_wrapper.kl_flat_sections #kl_modules.kl_modules_tabbed li[class*=fa-]:before,
  .mceContentBody #kl_wrapper.kl_flat_sections #kl_modules.kl_modules_tabbed li[class^=fa-]:before {margin: 0 10px 0 0;}
  #kl_wrapper.kl_flat_sections #kl_introduction p:first-child {font-size: 21px; font-weight: 200; line-height: 30px; }
  #kl_wrapper.kl_flat_sections blockquote {border-left: 5px solid #E0E0E0; }
  /* CP */
  #kl_wrapper.kl_flat_sections #kl_banner {background: #1e5799; padding: 20px 0; color: #fff; margin: 0 -25px 50px;}
  #kl_wrapper.kl_flat_sections #kl_banner h2 {text-transform: uppercase; text-align: center; border-top: 1px solid #fff; }
  #kl_wrapper.kl_flat_sections #kl_banner #kl_banner_left{display: block; background-color: #fff; font-size: 18px; line-height: 30px; width: 250px; margin: -15px auto 10px; border-radius: 30px; color: #696969; }
  #kl_wrapper.kl_flat_sections #kl_banner #kl_banner_right {font-size: 35px; margin-top: 20px; display: block; /*text-shadow: 1px 0px 2px #000;*/ }
  #kl_wrapper.kl_flat_sections #kl_banner #kl_banner_right .kl_subtitle { display: block; font-size: medium; line-height: 20px; margin-top: 5px;}
  
  #kl-instructor-info img {
	  float: left; 
	  margin: 0 10px 10px 0;
  }



  /*********************************************************************/
  /***** FP & CP COLORED HEADINGS THEME  *******************************/
  
  /* FP */
  #kl_wrapper.kl_fp_colored_headings #kl_banner {border: none;background: #385D7F;color: #fff;margin: 0 0 5px 0;padding: 0 0 5px;overflow: visible;}
  #kl_wrapper.kl_fp_colored_headings #kl_banner h2 { position: relative; text-align: center; text-transform: uppercase; padding: 20px 0 0;}
  #kl_wrapper.kl_fp_colored_headings #kl_banner_image { border: none; margin: 0;}
  #kl_wrapper.kl_fp_colored_headings #kl_banner #kl_banner_left {background-color: #fff; color: #696969; display: inline-block; font-size: 18px; line-height: 20px; padding: 5px 20px; position: absolute; left: 15px; top: 15px; border-bottom: 10px solid #62A8E5;}
  #kl_wrapper.kl_fp_colored_headings #kl_banner #kl_banner_left .kl_mod_text,
  #kl_wrapper.kl_fp_colored_headings #kl_banner #kl_banner_left .kl_mod_num  {width: 100%; padding: 2px 0 1px; display: block; font-size: 24px; line-height: 26px; text-align: center;}
  #kl_wrapper.kl_fp_colored_headings #kl_banner #kl_banner_right {display: block; font-size: 35px; margin: 0 0 0 135px; text-align: left; }
  #kl_wrapper.kl_fp_colored_headings #kl_banner #kl_banner_right .kl_subtitle { display: block; font-size: medium; line-height: 20px; margin-top: 5px;}
  /* CP */
  #kl_wrapper.kl_colored_headings #kl_banner {background: #385D7F; color: #fff; padding: 0 0 5px; margin: 0 -25px 50px; }
  #kl_wrapper.kl_colored_headings #kl_banner h2 { position: relative; text-align: center; text-transform: uppercase; }
  #kl_wrapper.kl_colored_headings #kl_banner #kl_banner_left {background-color: #fff; color: #696969; display: inline-block; font-size: 18px; line-height: 20px; margin: 0 auto 10px; padding: 5px 20px; }
  #kl_wrapper.kl_colored_headings #kl_banner #kl_banner_right {display: block; font-size: 35px; margin-top: 0; }
  #kl_wrapper.kl_colored_headings #kl_banner #kl_banner_right .kl_subtitle { display: block; font-size: medium; line-height: 20px; margin-top: 5px;}
  /* SHARED */
  #kl_wrapper.kl_fp_colored_headings > div,
  #kl_wrapper.kl_colored_headings > div {background-color: #fff; border: 1px solid #c2c2c2; font-size: 16px; margin: 35px 0 10px; overflow: hidden; padding: 20px; }
  #kl_wrapper.kl_fp_colored_headings > div img,
  #kl_wrapper.kl_colored_headings > div img {background: #fff; border: 1px solid #ccc; padding: 5px; }
  #kl_wrapper.kl_fp_colored_headings,
  #kl_wrapper.kl_colored_headings {background-color: #efefef; }
  #kl_wrapper.kl_colored_headings.kl_show_title #kl_banner {margin-top: 25px; }
  #kl_wrapper.kl_fp_colored_headings #kl_navigation,
  #kl_wrapper.kl_colored_headings #kl_navigation {width: 100%; height: 44px; background-color: #0F2439; color: #fff; overflow: hidden; margin: 7px 0 10px 0; }
  #kl_wrapper.kl_fp_colored_headings #kl_navigation ul,
  #kl_wrapper.kl_colored_headings #kl_navigation ul {display: table; table-layout: fixed; width: 95%; margin-left: 10px; }
  #kl_wrapper.kl_fp_colored_headings #kl_navigation li,
  #kl_wrapper.kl_colored_headings #kl_navigation li {display: table-cell; font-size: 1.2em; font-weight: normal; list-style-type: none; height: 100%; padding: 12px 22px 12px 5px; }


  #kl_wrapper.kl_fp_colored_headings #kl_banner_image,
  #kl_wrapper.kl_colored_headings #kl_banner_image {margin-bottom: 5px; padding: 0; }
  #kl_wrapper.kl_fp_colored_headings #kl_banner_image img,
  #kl_wrapper.kl_colored_headings #kl_banner_image img {border: none; padding: 0; }

  #kl_wrapper.kl_fp_colored_headings li[class*=icon-]:before, 
  #kl_wrapper.kl_fp_colored_headings li[class^=icon-]:before, 
  #kl_wrapper.kl_fp_colored_headings li[class*=fa-]:before, 
  #kl_wrapper.kl_fp_colored_headings li[class^=fa-]:before,
  #kl_wrapper.kl_colored_headings li[class*=icon-]:before, 
  #kl_wrapper.kl_colored_headings li[class^=icon-]:before, 
  #kl_wrapper.kl_colored_headings li[class*=fa-]:before, 
  #kl_wrapper.kl_colored_headings li[class^=fa-]:before {display: inline-block; font-size: 1.2em; margin-left: -30px; margin-right: 11px; text-align: right; width: 18px; }

  #kl_wrapper.kl_fp_colored_headings #kl_navigation,
  #kl_wrapper.kl_colored_headings #kl_navigation {background-color: #385D7F; color: #fff; height: inherit; margin: 0 0 20px; overflow: hidden; padding: 0; width: 100%; border:none; }
  #kl_wrapper.kl_fp_colored_headings #kl_navigation ul,
  #kl_wrapper.kl_colored_headings #kl_navigation ul {margin-bottom: 0; }
  #kl_wrapper.kl_fp_colored_headings #kl_navigation li,
  #kl_wrapper.kl_colored_headings #kl_navigation li {background: none; padding: 7px 5px; }
  #kl_wrapper.kl_colored_headings #kl_navigation li a,
  #kl_wrapper.kl_colored_headings #kl_navigation li a:hover,
  #kl_wrapper.kl_colored_headings #kl_navigation li a:focus,
  #kl_wrapper.kl_colored_headings #kl_navigation li a:visited,
  #kl_wrapper.kl_fp_colored_headings #kl_navigation li a,
  #kl_wrapper.kl_fp_colored_headings #kl_navigation li a:hover,
  #kl_wrapper.kl_fp_colored_headings #kl_navigation li a:focus,
  #kl_wrapper.kl_fp_colored_headings #kl_navigation li a:visited { color: #fff; }
  #kl_wrapper.kl_fp_colored_headings #kl_navigation a[class*=icon-]:before,
  #kl_wrapper.kl_fp_colored_headings #kl_navigation a[class^=icon-]:before,
  #kl_wrapper.kl_fp_colored_headings #kl_navigation a[class*=fa-]:before,
  #kl_wrapper.kl_fp_colored_headings #kl_navigation a[class^=fa-]:before,
  #kl_wrapper.kl_colored_headings #kl_navigation a[class*=icon-]:before,
  #kl_wrapper.kl_colored_headings #kl_navigation a[class^=icon-]:before,
  #kl_wrapper.kl_colored_headings #kl_navigation a[class*=fa-]:before,
  #kl_wrapper.kl_colored_headings #kl_navigation a[class^=fa-]:before {display: inline-block; background: #fff; padding: 6px 0px 3px; text-align: center; color: #696969; margin-right: 8px; border-bottom: 5px solid #62A8E5;}

  #kl_wrapper.kl_fp_colored_headings #kl_modules .ui-widget-content,
  #kl_wrapper.kl_colored_headings #kl_modules .ui-widget-content { border: 1px solid #C2C2C2; background: #fff; border-radius: 0;}
  #kl_wrapper.kl_fp_colored_headings .context_module,
  #kl_wrapper.kl_colored_headings .context_module,
  #kl_wrapper.kl_fp_colored_headings .context_module .header,
  #kl_wrapper.kl_colored_headings .context_module .header,
  #kl_wrapper.kl_fp_colored_headings #kl_modules.kl_modules_tabbed ul.ui-tabs-nav li.ui-state-default,
  #kl_wrapper.kl_colored_headings #kl_modules.kl_modules_tabbed ul.ui-tabs-nav li.ui-state-default { background: #fff; }
  #kl_wrapper.kl_fp_colored_headings #kl_modules li[class*=icon-]:before,
  #kl_wrapper.kl_colored_headings #kl_modules li[class*=icon-]:before,
  #kl_wrapper.kl_fp_colored_headings #kl_modules li[class^=icon-]:before,
  #kl_wrapper.kl_colored_headings #kl_modules li[class^=icon-]:before {margin: 4px 10px 5px 0; font-size: 20px; float: left;}
  #kl_wrapper.kl_fp_colored_headings #kl_modules li[class*=fa-]:before,
  #kl_wrapper.kl_colored_headings #kl_modules li[class*=fa-]:before,
  #kl_wrapper.kl_fp_colored_headings #kl_modules li[class^=fa-]:before,
  #kl_wrapper.kl_colored_headings #kl_modules li[class^=fa-]:before {margin: 0 10px 5px 0; font-size: 20px; float: left;}
  #kl_wrapper.kl_fp_colored_headings #kl_modules.kl_modules_tabbed li[class*=icon-]:before,
  #kl_wrapper.kl_colored_headings #kl_modules.kl_modules_tabbed li[class*=icon-]:before,
  #kl_wrapper.kl_fp_colored_headings #kl_modules.kl_modules_tabbed li[class^=icon-]:before,
  #kl_wrapper.kl_colored_headings #kl_modules.kl_modules_tabbed li[class^=icon-]:before {margin: 9px 0 5px 10px; font-size: 20px; float: left;}
  #kl_wrapper.kl_fp_colored_headings #kl_modules.kl_modules_tabbed li[class*=fa-]:before,
  #kl_wrapper.kl_colored_headings #kl_modules.kl_modules_tabbed li[class*=fa-]:before,
  #kl_wrapper.kl_fp_colored_headings #kl_modules.kl_modules_tabbed li[class^=fa-]:before,
  #kl_wrapper.kl_colored_headings #kl_modules.kl_modules_tabbed li[class^=fa-]:before {margin: 7px 0 5px 10px; font-size: 20px; float: left;}
  .mceContentBody #kl_wrapper.kl_fp_colored_headings #kl_modules.kl_modules_tabbed li[class*=icon-]:before,
  .mceContentBody #kl_wrapper.kl_colored_headings #kl_modules.kl_modules_tabbed li[class*=icon-]:before,
  .mceContentBody #kl_wrapper.kl_fp_colored_headings #kl_modules.kl_modules_tabbed li[class^=icon-]:before,
  .mceContentBody #kl_wrapper.kl_colored_headings #kl_modules.kl_modules_tabbed li[class^=icon-]:before,
  .mceContentBody #kl_wrapper.kl_fp_colored_headings #kl_modules.kl_modules_tabbed li[class*=fa-]:before,
  .mceContentBody #kl_wrapper.kl_colored_headings #kl_modules.kl_modules_tabbed li[class*=fa-]:before,
  .mceContentBody #kl_wrapper.kl_fp_colored_headings #kl_modules.kl_modules_tabbed li[class^=fa-]:before,
  .mceContentBody #kl_wrapper.kl_colored_headings #kl_modules.kl_modules_tabbed li[class^=fa-]:before {margin: 0 10px 0 0;}


  /* Default Headings */
  #kl_wrapper.kl_fp_colored_headings h3,
  #kl_wrapper.kl_colored_headings h3 { position: relative; background-color: #9D9D9D; border-top: 5px solid #696969; color: #fff; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 22px; letter-spacing: 3px; line-height: 55px; margin: -21px -21px 20px; text-align: center; text-transform: uppercase; }
  #kl_wrapper.kl_fp_colored_headings h3:before,
  #kl_wrapper.kl_colored_headings h3:before { position: absolute; background-color: #fff; color: #696969; display: block; font-size: 20px; height: 33px; line-height: 35px; text-align: center; width: 35px; top: 10px; left: 10px; border-bottom: 4px solid #696969; }
  /* Introduction */
  #kl_wrapper.kl_fp_colored_headings #kl_introduction,
  #kl_wrapper.kl_colored_headings #kl_introduction {margin: 10px 0; }
  #kl_wrapper.kl_fp_colored_headings #kl_introduction p:first-child,
  #kl_wrapper.kl_colored_headings #kl_introduction p:first-child {font-size: 21px; font-weight: 200; line-height: 30px; }
  /* Objectives Blue*/
  #kl_wrapper.kl_fp_colored_headings #kl_objectives h3,
  #kl_wrapper.kl_colored_headings #kl_objectives h3 {background-color: #3F98D3; border-top: 5px solid #2871A1; color: #fff; }
  /* Readings Red */
  #kl_wrapper.kl_fp_colored_headings #kl_readings h3,
  #kl_wrapper.kl_colored_headings #kl_readings h3 {background-color: #DD4939; border-top: 5px solid #c0392b; color: #fff; }
  /* Lectures Green */
  #kl_wrapper.kl_fp_colored_headings #kl_lectures h3,
  #kl_wrapper.kl_colored_headings #kl_lectures h3 {background-color: #3CC576; border-top: 5px solid #27ae60; color: #fff; }
  /* Activities Orange */
  #kl_wrapper.kl_fp_colored_headings #kl_activities h3,
  #kl_wrapper.kl_colored_headings #kl_activities h3 {background-color: #e67e22; border-top: 5px solid #d35400; color: #fff; }
  /* Assignments Purple */
  #kl_wrapper.kl_fp_colored_headings #kl_assignments h3,
  #kl_wrapper.kl_colored_headings #kl_assignments h3 {background-color: #9b59b6; border-top: 5px solid #8e44ad; color: #fff; }
  /* Other Styles */
  #kl_wrapper.kl_fp_colored_headings h4,
  #kl_wrapper.kl_colored_headings h4 {border-bottom: 1px solid #E0E0E0; color: #000; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 18px; letter-spacing: 3px; margin: 40px 0 20px; text-transform: uppercase; }
  #kl_wrapper.kl_fp_colored_headings h5,
  #kl_wrapper.kl_colored_headings h5 {border-bottom: 1px solid #E0E0E0; color: #000; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 16px; letter-spacing: 3px; margin: 40px 0 20px; }
  #kl_wrapper.kl_fp_colored_headings .link_holder img,
  #kl_wrapper.kl_colored_headings .link_holder img {background: none; border: none; }
  #kl_wrapper.kl_fp_colored_headings .well,
  #kl_wrapper.kl_colored_headings .well {background-color: #f5f5f5; border-radius: 4px; border: 1px solid #e3e3e3; box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); margin-bottom: 20px; min-height: 20px; padding: 19px; }


  @media screen and (max-width: 1350px) {
    #kl_wrapper.kl_fp_colored_headings #kl_banner #kl_banner_right { font-size: 30px; }
    #kl_wrapper.kl_fp_colored_headings #kl_navigation,
    #kl_wrapper.kl_colored_headings #kl_navigation {font-size: 14px; padding-bottom:0px; height: 45px;}
    #kl_wrapper.kl_fp_colored_headings #kl_navigation a[class*=icon-]:before,
    #kl_wrapper.kl_fp_colored_headings #kl_navigation a[class^=icon-]:before,
    #kl_wrapper.kl_fp_colored_headings #kl_navigation a[class*=fa-]:before,
    #kl_wrapper.kl_fp_colored_headings #kl_navigation a[class^=fa-]:before,
    #kl_wrapper.kl_colored_headings #kl_navigation a[class*=icon-]:before,
    #kl_wrapper.kl_colored_headings #kl_navigation a[class^=icon-]:before,
    #kl_wrapper.kl_colored_headings #kl_navigation a[class*=fa-]:before,
    #kl_wrapper.kl_colored_headings #kl_navigation a[class^=fa-]:before {padding: 5px 0px; width:25px; }
  }
  @media screen and (max-width: 1100px) {
    #kl_wrapper.kl_fp_colored_headings #kl_banner #kl_banner_right { font-size: 25px; }
    #kl_wrapper.kl_fp_colored_headings #kl_navigation,
    #kl_wrapper.kl_colored_headings #kl_navigation {font-size: 12px; padding-bottom:0px;height: 40px;}
    #kl_wrapper.kl_fp_colored_headings #kl_navigation a[class*=icon-]:before,
    #kl_wrapper.kl_fp_colored_headings #kl_navigation a[class^=icon-]:before,
    #kl_wrapper.kl_fp_colored_headings #kl_navigation a[class*=fa-]:before,
    #kl_wrapper.kl_fp_colored_headings #kl_navigation a[class^=fa-]:before,
    #kl_wrapper.kl_colored_headings #kl_navigation a[class*=icon-]:before,
    #kl_wrapper.kl_colored_headings #kl_navigation a[class^=icon-]:before,
    #kl_wrapper.kl_colored_headings #kl_navigation a[class*=fa-]:before,
    #kl_wrapper.kl_colored_headings #kl_navigation a[class^=fa-]:before {padding: 4px 0px; width: 21px; font-size: 12px; }
  }


/**********************************************************************/
/**************        END THEMES            **************/
/**********************************************************************/
/**********************************************************************/
 /*********************************************************************/
 

  /* Alert Boxes */
.kl_alert-green {
background: #f2fae3;
color: #659f13;
border: 1px solid rgba(101,159,19,.3);
border-radius: 4px;
padding: 10px;
margin-top: 10px;
margin-bottom: 10px;
}
.kl_alert-red {
background: #fff1f0;
color: #d85030;
border: 1px solid rgba(216,80,48,.3);
border-radius: 4px;
padding: 10px;
margin-top: 10px;
margin-bottom: 10px;
}

.kl_alert-yellow {
background: #fffceb;
color: #e28327;
border: 1px solid rgba(226,131,39,.3);
border-radius: 4px;
padding: 10px;
margin-top: 10px;
margin-bottom: 10px;
}

.kl_alert-blue {
background: #ebf7fd;
color: #2d7091;
border: 1px solid rgba(45,112,145,.3);
border-radius: 4px;
padding: 10px;
margin-top: 15px;
margin-bottom: 15px;
}

.kl_alert-box {
    color:#555;
    border-radius:10px;
    padding:10px 10px 10px 36px;
    margin:10px;
}
.kl_error {
    background:#ffecec;
    border:1px solid #f5aca6;
}
.kl_success {
    background:#e9ffd9;
    border:1px solid #a6ca8a;
}
.kl_warning {
    background:#fff8c4;
    border:1px solid #f2c779;
}
.kl_info {
    background:#e3f7fc;
    border:1px solid #8ed9f6;
}


/**************        Misc           **************/
.kl_left_img img {
	  float: left; 
	  margin: 0 20px 20px 0;
  }
  
 .kl_right_img img {
	  float: right; 
	  margin: 0 0px 20px 20px;
  }



/**************        END  STYLING           **************/
